# GovCMS SaaS Symlinks
web/themes/custom
config/default

# Composer / Drupal scaffold.
/drush/contrib/
/vendor/
/web/core/
/web/modules/scaffold-tooling/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
/web/.ht.router.php
/web/.htaccess
/web/INSTALL.txt
/web/README.txt
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.gitignore
/web/index.php
/web/robots.txt
/web/update.php
/web/web.config
default.services.yml
default.settings.php

# Assets.
web/sites/default/files

# Development or per platform.
env.settings.php
env.services.yml
node_modules
local
tmp
private
.drush
drush-backups
.console
/web/sites/simpletest
/.idea/
/.env
.DS_Store
.phpunit.result.cache
*.sql
*.zip

# I keep the database dumps in .data, and the govcms repo in .govcms (not a submodule, nothing fancy.)
.data
.govcms
